/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive 2X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1400px) {
    .about {
        min-height: clamp(calc(555px + 6.2rem + 2 * var(--padding)), 100lvh, 1000px);
        min-height: clamp(calc(555px + 6.2rem + 2 * var(--padding)), 100svh, 1000px);
    }
    .about__title {
        font-size: 5.6rem;
    }

    .project__content__title {
        font-size: 3.3rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1200px) {
    .about {
        min-height: clamp(calc(465px + 6.2rem + 2 * var(--padding)), 100lvh, 1000px);
        min-height: clamp(calc(465px + 6.2rem + 2 * var(--padding)), 100svh, 1000px);
    }
    .about__title {
        font-size: 4.1rem;
    }

    .about__caption {
        font-size: 1.9rem;
    }

    .project__content__title {
        font-size: 3rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 992px) {
    .about {
        min-height: clamp(calc(345px + 6.2rem + 2 * var(--padding)), 100lvh, 1000px);
        min-height: clamp(calc(345px + 6.2rem + 2 * var(--padding)), 100svh, 1000px);
    }
    .about__title {
        font-size: 3.9rem;
    }

    .about__caption {
        font-size: 1.8rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Medium
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 768px) {
    .about {
        min-height: clamp(calc(772px + 6.2rem + 2 * var(--padding)), 100lvh, 1000px);
        min-height: clamp(calc(772px + 6.2rem + 2 * var(--padding)), 100svh, 1000px);
    }
    .row--about {
        flex-flow: column-reverse nowrap;
    }
    .about__content {
        gap: 2rem;
    }

    .about__caption {
        justify-content: center;
        align-items: center;
    }

    .about__buttons {
        justify-content: center;
    }

    .about__title {
        font-size: 5.1rem;
    }

    .about__title,
    .about__caption {
        text-align: center;
    }

    .about__title p {
        display: inline;
    }

    .about__title br {
        display: block;
    }

    .about__img {
        width: 85%;
    }

    .project__content__title {
        font-size: 2.4rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Small
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 576px) {
    .about {
        min-height: clamp(calc(722px + 6.2rem + 2 * var(--padding)), 100lvh, 1000px);
        min-height: clamp(calc(722px + 6.2rem + 2 * var(--padding)), 100svh, 1000px);
    }
    .skills__item {
        width: 100%;
    }

    .project__content__title {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .about {
        min-height: clamp(calc(580px + 6.2rem + 2 * var(--padding)), 100lvh, 1000px);
        min-height: clamp(calc(580px + 6.2rem + 2 * var(--padding)), 100svh, 1000px);
    }
    .about__title {
        font-size: 3.8rem;
    }

    .project__content__title {
        font-size: 3rem;
    }
}