/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive 2X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1400px) {
    .about {
        height: max(calc(555px + 6.2rem + 2 * var(--padding)), 100vh);
        height: max(calc(555px + 6.2rem + 2 * var(--padding)), 100svh);
    }
    .about__title {
        font-size: 5.6rem;
    }
    .about__img {
        padding: 5.4rem;
    }

    .project__content__title {
        font-size: 3.3rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive X Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 1200px) {
    .about {
        height: max(calc(465px + 6.2rem + 2 * var(--padding)), 100vh);
        height: max(calc(465px + 6.2rem + 2 * var(--padding)), 100svh);
    }
    .about__title {
        font-size: 4.1rem;
    }
    .about__img {
        padding: 4.4rem;
    }

    .project__content__title {
        font-size: 3rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Large
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 992px) {
    .about {
        height: max(calc(345px + 6.2rem + 2 * var(--padding)), 100vh);
        height: max(calc(345px + 6.2rem + 2 * var(--padding)), 100svh);
    }
    .about__title {
        font-size: 3.8rem;
    }
    .about__img {
        padding: 3.4rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Medium
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 768px) {
    .about {
        height: max(calc(772px + 6.2rem + 2 * var(--padding)), 100vh);
        height: max(calc(772px + 6.2rem + 2 * var(--padding)), 100svh);
    }
    .row--about {
        flex-flow: column-reverse nowrap;
        gap: 0;
    }
    .about__content {
        gap: 2rem;
        align-items: center;
    }

    .about__caption {
        justify-content: center;
        align-items: start;
        font-size: 1.9rem;
    }

    .about__buttons {
        justify-content: center;
    }

    .about__title {
        font-size: 4.5rem;
        text-align: center;
    }

    .about__title br:nth-child(2) {
        display: none;
    }

    .about__img {
        width: 85%;
        padding: 4.2rem;
    }

    .project__content__title {
        font-size: 2.4rem;
    }
}

/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Responsive Small
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (max-width: 576px) {
    .about {
        height: max(calc(722px + 6.2rem + 2 * var(--padding)), 100vh);
        height: max(calc(722px + 6.2rem + 2 * var(--padding)), 100svh);
    }
    .about__img {
        padding: 8vw;
    }
    .skills__item {
        width: 100%;
    }

    .project__content__title {
        font-size: 4rem;
    }
}

@media (max-width: 480px) {
    .about {
        height: max(calc(580px + 6.2rem + 2 * var(--padding)), 100vh);
        height: max(calc(580px + 6.2rem + 2 * var(--padding)), 100svh);
    }
    .about__title {
        font-size: 3.6rem;
    }

    .project__content__title {
        font-size: 3rem;
    }
}