/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Root Style
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
:root {

    /* System Grid Values */

    --padding: 1rem;
    --gap: 1rem;
    --width: calc((100cqi - 11 * var(--gap)) / 12);
    --width-col-1: var(--width);
    --width-col-2: calc(var(--width) * 2 + var(--gap));
    --width-col-3: calc(var(--width) * 3 + 2 * var(--gap));
    --width-col-4: calc(var(--width) * 4 + 3 * var(--gap));
    --width-col-5: calc(var(--width) * 5 + 4 * var(--gap));
    --width-col-6: calc(var(--width) * 6 + 5 * var(--gap));
    --width-col-7: calc(var(--width) * 7 + 6 * var(--gap));
    --width-col-8: calc(var(--width) * 8 + 7 * var(--gap));
    --width-col-9: calc(var(--width) * 9 + 8 * var(--gap));
    --width-col-10: calc(var(--width) * 10 + 9 * var(--gap));
    --width-col-11: calc(var(--width) * 11 + 10 * var(--gap));
    --width-col-12: 100%;

    
    /* Reset Values */
    
    --comfortaa-bold-font: "ComfortaaMedium";
    --jost-black-font: "JostBlack";
    --jost-bold-font: "JostBold";
    --jost-semibold-font: "JostSemiBold";
    --transition: 0.2s linear;
    --main-linear-gradient-color: linear-gradient(90deg, var(--main-color) 30%, var(--sub-color) 100%);
    --BLACK: black;
    --WHITE: white;
    --DARKEN-DARK: #2c2c2c;
    --LIGHTEN-DARK: #383838;
    --DARKEN-LIGHT: #f5f5f5;
}

.dark:root {
    color-scheme: dark;
    --body-bg-color: #252525;
    --navbar-bg-color: var(--LIGHTEN-DARK);
    --social-bg-color: var(--DARKEN-DARK);
    --navbarBtn-bg-color: var(--DARKEN-DARK);
    --menu-bg-color: var(--LIGHTEN-DARK);
    --menuItem-bg-color: var(--DARKEN-DARK);
    --skillsItem-bg-color: var(--DARKEN-DARK);
    --projectItem-bg-color: var(--DARKEN-DARK);
    --projectPages-bg-color: var(--DARKEN-DARK);
    --projectPageSubsPrev-bg-color: var(--LIGHTEN-DARK);
    --footer-bg-color: var(--LIGHTEN-DARK);
    --footer-icon-bg-color: var(--DARKEN-DARK);
    --footer-icon-color: var(--DARKEN-LIGHT);
    --text-color: var(--WHITE);
    --reverse-text-color: var(--DARKEN-DARK);
    --reverse-box-color: var(--DARKEN-LIGHT);
}

.light:root {
    color-scheme: light;
    --body-bg-color: #ececec;
    --navbar-bg-color: var(--WHITE);
    --social-bg-color: var(--DARKEN-LIGHT);
    --navbarBtn-bg-color: var(--DARKEN-LIGHT);
    --menu-bg-color: var(--WHITE);
    --menuItem-bg-color: var(--DARKEN-LIGHT);
    --skillsItem-bg-color: var(--WHITE);
    --projectItem-bg-color: var(--WHITE);
    --projectPages-bg-color: var(--DARKEN-LIGHT);
    --projectPageSubsPrev-bg-color: var(--WHITE);
    --footer-bg-color: var(--WHITE);
    --footer-icon-bg-color: var(--DARKEN-LIGHT);
    --footer-icon-color: var(--LIGHTEN-DARK);
    --text-color: var(--BLACK);
    --reverse-text-color: var(--WHITE);
    --reverse-box-color: var(--LIGHTEN-DARK);
}