/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Footer Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.footer {
    background-color: var(--footer-bg-color);
    padding: 3rem 0 0.5rem 0;
}

.footer__content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5rem;
}
.footer__title {
    font-size: 5rem;
    font-family: var(--tomorrow-extra-bold-font);
}
.footer__caption {
    font-family: var(--ubuntu-bold-font);
    font-size: 1.7rem;
}
.footer__contact  {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;
}

.footer__email {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__email__icon {
    padding: 0.4rem 0.9rem;
    font-size: 2.6rem;
    border-radius: 0.5rem;
    color: var(--footer-icon-color);
    background-color: var(--footer-icon-bg-color);
    transition: background-color var(--transition);
}

.footer__email__txt {
    color: var(--text-color);
    font-size: 2rem;
}

.footer__email:hover .footer__email__icon {
    --footer-icon-bg-color: var(--reverse-box-color);
    --footer-icon-color: var(--reverse-text-color)
}

.footer__copy-right {
    font-family: var(--tomorrow-bold-font);
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
}