/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    KeyFrames Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@media (prefers-reduced-motion: no-preference) {

    .project,
    .skills {
        transform-origin: center 0;
        animation:
            load-scale linear forwards,
            load-opacity linear forwards;
        animation-timeline: view();
        animation-range: entry;
        animation-range-start: 0px;
        animation-range-end: 450px;
    }

    .footer {
        transform-origin: center 0;
        opacity: 0.4;
        animation: load-opacity linear forwards;
        animation-timeline: view();
        animation-range-start: 0px;
        animation-range-end: 450px;
    }
}

@keyframes load-scale {
    from {
        scale: 0.7;
    }

    to {
        scale: 1;
    }
}

@keyframes load-opacity {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes change-scale {
    to {
        scale: 0.9
    }
}

@keyframes box-shadow {
    25%,
    100% {
        text-shadow:
            0.03px -0.01px 0.01px rgb(255 0 0),
            0.02px 0.02px 0 rgb(0 255 0),
            -0.02px 0.02px 0 rgb(0 0 255);
    }
}

@keyframes change-background {
    25% {
        --text-color: white;
        --body-bg-color: #252525;
    }

    100% {
        --text-color: black;
        --body-bg-color: #ececec;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}