/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Navbar Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--navbar-bg-color);
    z-index: 998;
}

.navigation__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navigation__menu {
    height: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 3.5rem;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    height: 100%;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--text-color);
    transition: color var(--transition);
}

.menu__link:hover {
    color: var(--main-color);
}

.menu__link--active {
    color: var(--main-color);
}

.menu__item {
    height: 100%;
    font-family: var(--tomorrow-bold-font);
}

.menu__icon {
    font-size: 2.4rem;
}

.navigation__logo {
    font-family: var(--tomorrow-black-font);
    font-size: 3rem;
    color: var(--text-color);
}

.logo__suffix {
    color: var(--main-color);
}

.navigation__mobile-button {
    display: none;
    padding: 0.4rem 0.8rem;
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--navbarBtn-bg-color);
    border-radius: 0.5rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.navigation__mobile-button:where(:hover, :focus, :active) {
    --navbarBtn-bg-color: var(--reverse-box-color);
}

.navigation__mobile-button:where(:hover, :focus, :active)
.navigation__mobile-icon {
    color: var(--reverse-text-color);
}

.navigation__mobile-icon {
    font-size: 3rem;
    transition: var(--transition);
}

.navigation__theme-button {
    padding: 0.4rem 0.8rem;
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--navbarBtn-bg-color);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}
.navigation__theme-icon {
    font-size: 3rem;
    transition: var(--transition);
}
.navigation__theme-button:where(:hover, :focus, :active) {
    --navbarBtn-bg-color: var(--reverse-box-color);
}
.navigation__theme-button:where(:hover, :focus, :active)
.navigation__theme-icon {
    color: var(--reverse-text-color);
}