/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Footer Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.footer {
    background-color: var(--footer-bg-color);
    padding: 3rem 0 1rem 0;
}

.footer__content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5rem;
}
.footer__content__title {
    font-size: 5rem;
    font-family: var(--jost-black-font);
}
.footer__content__caption {
    font-size: 1.7rem;
}
.footer__contact  {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem;
}

.footer__sms,
.footer__email {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__sms__icon,
.footer__email__icon {
    padding: 0.5rem;
    border-radius: 0.8rem;
    background-color: var(--social-bg-color);
    width: 4.4rem;
    height: 4.4rem;
    transition: background-color var(--transition);
}

.footer__sms__txt,
.footer__email__txt {
    color: var(--text-color);
    font-size: 2rem;
}

.footer__social {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}
.social__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    background-color: var(--social-bg-color);
    transition: background-color var(--transition);
}
.social__item:hover,
.footer__sms:hover .footer__sms__icon,
.footer__email:hover .footer__email__icon {
    --social-bg-color: var(--reverse-box-color);
}
.social__img {
    width: 3.5rem;
    height: 3.5rem;
}

.footer__txt {
    font-family: var(--jost-semibold-font);
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
}