@media (prefers-reduced-motion: no-preference) {
    .project {
        transform-origin: 50% 0;
        transform: scale(0.7);
        opacity: 0;
        animation: load-scale linear forwards, load-opacity linear forwards;
        animation-timeline: view();
        animation-range-start: 0px;
        animation-range-end: 300px;
    }
    .skills {
        transform-origin: 50% 0;
        transform: scale(0.7);
        opacity: 0;
        animation: load-scale linear forwards, load-opacity linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }
    .footer {
        transform-origin: 50% 0;
        opacity: 0.4;
        animation: load-opacity linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }
}

@keyframes load-scale {
    to { transform: scale(1);}
}

@keyframes load-opacity {
    to { opacity: 1;}
}