/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    About Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.about {
    height: max(calc(670px + 6.2rem + 2 * var(--padding)), 100vh);
    height: max(calc(670px + 6.2rem + 2 * var(--padding)), 100svh);
    padding: 6.2rem 0 calc(2 * var(--gap)) 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.about__content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1.5rem;
}

.about__title {
    font-size: 7rem;
    font-family: var(--tomorrow-bold-font);
    display: inline;
    background: var(--main-linear-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__title > * {
    font-size: inherit;
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

.about__title span {
    color: var(--text-color);
}

.about__title span:nth-child(1) {
    color: var(--main-color);
}

.about__caption {
    font-family: var(--ubuntu-bold-font);
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;
}

.about__skills:last-child {
    width: max-content;
    position: relative;
}

.about__skills:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1rem;
    border-left: 2px solid var(--text-color);
    background-color: var(--body-bg-color);
}

.about__skills.animated:last-child::before {
    animation: typing var(--time);
}

.about__buttons {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5rem;
}

.about__picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .about__picture {
    -webkit-filter: drop-shadow(0 0 1rem var(--sub-color));
}

.about__img {
    background: var(--main-linear-gradient-color);
    -webkit-mask: url(../../pictures/about/shape.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    padding: 6.4rem;
}

.about__social {
    height: 5rem;
    overflow: hidden;
}

.social__wrapper {
    transition: all var(--time) ease;
    transform: translateY(calc((var(--height) * -1 - var(--padding)) * var(--i)));
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.social {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.2rem 0.8rem 0.8rem;
    background-color: var(--social-bg-color);
    border-radius: 0.8rem;
}

.social__icon {
    font-size: 3.3rem;
}

.social__text {
    color: var(--text-color);
    font-family: var(--tomorrow-bold-font);
    font-size: 1.8rem;
}