/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Project Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.project {
    padding: 2rem 0 3rem 0;
}


.project__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--projectItem-bg-color);
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 2rem;
}

.project__img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.project__content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: -1.5rem;
}

.project__content__title {
    width: 100%;
    font-family: var(--tomorrow-bold-font);
    font-size: 4.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project__content__caption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.projectPagination {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project__button {
    width: 4.3rem;
    height: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--projectPages-bg-color);
    color: var(--text-color);
    font-family: var(--tomorrow-extra-bold-font);
    border-radius: 0.5rem;
    cursor: pointer;
}

.project__button--subs,
.project__button--prev {
    background-color: var(--projectPageSubsPrev-bg-color);
}

.project__button--subs i,
.project__button--prev i {
    color: var(--text-color);
    font-size: 2.4rem;
}

.project__button:hover,
.project__button--active {
    background-color: var(--main-color);
    color: white;
}

.project__button--subs:where(:hover, :focus),
.project__button--prev:where(:hover, :focus) {
    background-color: var(--main-color);
    color: white;
}

.project__button--subs:where(:hover, :focus) i,
.project__button--prev:where(:hover, :focus) i {
    color: white;
}