/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Skills Style 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.skills {
    padding: calc(2 * var(--gap)) 0;
}

.skills__wrapper {
    width: 100%;
    overflow: hidden;
}
.row--skills {
    justify-content: start;
    flex-wrap: nowrap;
    transition: all var(--speed) ease;
    transform: translateX(calc((var(--width) * -1 - var(--padding)) * var(--i)));
    animation: change-scale calc(var(--time) / 2) var(--delay) alternate infinite;
}

.skills__item {
    width: 100%;
    height: 18rem;
    font-size: calc(18rem - 2 * 1.5rem);
    padding: 1.5rem;
    border-radius: 0.8rem;
    background-color: var(--skillsItem-bg-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    transition: var(--transition);
}
.skills__icon {
    font-size: 1em;
}
.skills__content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1.5rem;
}
.skills__title {
    font-family: var(--tomorrow-extra-bold-font);
    font-size: 3rem;
}
.skills__caption {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}