/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Buttons Component
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.button {
    background-image: var(--button-bg-gradient-color, var(--lime-blue-gradient-color));
    border-radius: 0.8rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: padding var(--transition);
}

.button:not(.button--fixed):hover {
    padding: 1rem 1.5rem 1rem 4.4rem;
}

.button:hover .button__icon {
    right: calc(100% - 3.6rem);
}

.button__icon {
    transition: right var(--transition);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 102%;
    margin: auto 0;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__title {}

.button--cv {
    height: 5rem;
}

.button--cv .button__title {
    color: var(--text-color);
    font-family: var(--jost-semibold-font);
    font-size: 1.8rem;
}

.button--show-project {
    width: 100%;
}