/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Buttons Component
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.button {
    background-image: var(--button-bg-gradient-color, var(--main-linear-gradient-color));
    border-radius: 0.8rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: var(--transition);
}

.button:not(.button--fixed, .button--github):hover {
    padding: 1rem 1.5rem 1rem 4.4rem;
}

.button:hover:not(.button--github) .button__icon {
    right: calc(100% - 3.6rem);
}

.button__icon {
    transition: right var(--transition);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 102%;
    margin: auto 0;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__title {
    font-family: var(--tomorrow-bold-font);
    font-size: 1.6rem;
}

.button__title, .button__icon {
    color: var(--WHITE);
}

.button--cv {
    height: 5rem;
}

.button--cv .button__title {
    font-size: 1.8rem;
}

.button--show-project {
    flex-grow: 1;
    height: 100%;
}

.button--github {
    padding: 0;
    background-image: none;
    background-color: var(--github-button-bg-color);
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--github:hover {
    background-color: var(--DARKEN-LIGHT);
}

.button--github .button__icon {
    right: auto;
}

.button--github:hover .button__icon {
    color: var(--github-button-bg-color);
}