/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    section-header Title Component
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.section-header {
    font-size: 5rem;
    font-family: var(--tomorrow-black-font);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section-header__title {

}

.section-header__mark {
    color: var(--main-color);
    margin-bottom: 1rem;
}