/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    section-header Title Component
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header__title {
    font-size: 5rem;
    font-family: var(--tomorrow-black-font);
    position: relative;
}

.section-header__title::before {
    content: attr(data-start);
    left: -3rem;
}

.section-header__title::after {
    content: attr(data-end);
    right: -3rem;
}

.section-header__title::before,
.section-header__title::after {
    position: absolute;
    color: var(--main-color);
}